{% include "header.html" %}
  <body>
    <div class="container">
      <div class="jumbotron">
        <h3>Text uploader:</h3>
        {% if form.errors %} 
        {% for field in form %} 
        {% for error in field.errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %} {% endfor %} {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %} {% endif %}
        <form action="" method="post">
          {% csrf_token %} {{form.as_p}}<br />
          <input type="submit" value="Submit" class="btn btn-primary" />
        </form>
        {% if not request.user.is_authenticated %}
          <script>
            document.getElementById("id_visibility").getElementsByTagName('option')[1].disabled = true;
            document.getElementById("id_visibility").getElementsByTagName('option')[1].innerHTML = document.getElementById("id_visibility").getElementsByTagName('option')[1].innerHTML + " - Private pastes can only be made when logged in"
          </script>
        {% endif %}
      </div>
    </div>
  </body>
</html>
