{% include "headeradmin.html" %}
    <body>
        <div class="container">
            {% if deleted == "1" %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                Successfully deleted paste
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% for field in page_obj %}
            <div class="jumbotron">
                <p>ID: {{field.id}}</p>
                <p>Name: {{field.name}}</p>
                <p>Description: {{field.description}}</p>
                <p>Belongs to: {{field.belongsto}} (<a href="{{hostname}}/admin/auth/user/{{field.belongsto}}">User Lookup</a>)</p>
                <p>Visibilty: {{field.visibility}}</p>
                <p>Link: <a href="/files/f/{{field.name}}">{{hostname}}/files/f/{{field.name}}</a></p>
                <p><a href="/dash/deletetext?id={{field.id}}&redirectpage={{page_obj.number}}" onclick="return confirm('Are you sure you want to delete the paste with id: {{field.id}}')">DELETE PASTE</a></p>
            </div>
            {% endfor %}
            <div class="pagination">
                <nav aria-label="Page navigation" class="mx-auto" style="width: 200px;">
                    <ul class="pagination">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
                    {% endif %}
            
                    <span class="current">
                        <li class="page-item active"><a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a></li>
                    </span>
            
                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% endif %}
                    </ul>
                    
                </nav>
            </div>  
        </div>
        
    </body>
</html>